@model IEnumerable<SchoolRegister.ViewModels.VMs.StudentVm>

@{
    ViewData["Title"] = "Students";
}

<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageGrade)
                </td>
                <td>
                    @Html.ActionLink("Send Email to Parent", "SendEmailToParent", "Teacher", new { studentId = item.Id }) |
                    @Html.ActionLink("AddGrade", "AddGrade", "Teacher", new { studentId = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { studentId = item.Id }) |
                    @Html.ActionLink("Attach Student to Group", "AttachStudentToGroup", new { studentId = item.Id }) |
                    @Html.ActionLink("Detach Student to Group", "DetachStudentToGroup", new { studentId = item.Id }) |

                </td>
            </tr>
        }
    </tbody>
</table>
